---
import RadioBox from "../RadioBox.astro";
import TextBox from "../TextBox.astro";
---

<eventRegisterBox2>
  <div class="mb-12 flex w-screen flex-shrink-0 flex-col items-center p-0">
    <div class="m-0 flex w-4/5 max-w-xl flex-col items-center p-0">
      <div
        class="mb-1 h-fit w-full rounded-2xl border-2 border-solid border-white p-9 shadow-inner backdrop-blur-2xl"
      >
        <p class="text-medium mb-2 text-base text-white">
          อาหารและยาที่แพ้ / Do you have any allergies?*
        </p>
        <div class="mb-10 flex flex-col space-y-1">
          <div class="flex flex-row">
            <RadioBox name="isAllergies" value={false} />
            <label class="text-medium text-base text-white">ไม่มี / No</label>
          </div>
          <div class="flex flex-row">
            <RadioBox name="isAllergies" value={true} />
            <label class="text-medium text-base text-white">มี / Yes</label>
          </div>
          <div class="ml-6 h-12 w-72">
            <TextBox name="allergies" />
          </div>
        </div>
        <p class="text-medium mb-2 text-base text-white">
          โรคประจำตัว / Do you have any chronic health conditions?*
        </p>
        <div class="flex flex-col space-y-1">
          <div class="flex flex-row">
            <RadioBox name="isHealthConditions" value={false} />
            <label class="text-medium text-base text-white">ไม่มี / No</label>
          </div>
          <div class="flex flex-row">
            <RadioBox name="isHealthConditions" value={true} />
            <label class="text-medium text-base text-white">มี / Yes</label>
          </div>
          <div class="ml-6 h-12 w-72">
            <TextBox name="healthConditions" />
          </div>
        </div>
      </div>
      <p class="place-self-end text-xs text-white">
        จำเป็นต้องกรอก / Must be filled*
      </p>
    </div>
  </div>
</eventRegisterBox2>
