---
import BaseLayout from "@/layouts/BaseLayout.astro";
import QR from "@/components/Staff/Checkin/QR";
---

<BaseLayout withNav={false} withFooter={false} withJigsaw={false}>
  <nav
    class="sticky top-0 flex h-14 w-full -translate-y-8 items-center justify-evenly bg-indigo-950 font-libre text-white"
  >
    <div class="font-bold">CU OPH 2024</div>
    <div
      class="rounded-xl bg-white px-3 py-1 text-sm font-bold text-indigo-950"
    >
      Staff
    </div>
    <div class="font-ibm">คณะ</div>
  </nav>
  <section class="mb-12 flex w-full max-w-xl flex-col items-center px-4">
    <div class="relative flex w-fit flex-col items-center text-center">
      <h1 class="text-3xl font-bold text-white">Your Staff Profile</h1>
      <h2 class="font-medium text-white">Chula Open House 2024</h2>
      <hr class="mt-2 w-full border border-white" />
    </div>
  </section>
  <QR client:load />
</BaseLayout>
