---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout withNav={false} withFooter={false}>
  <div class="w-full h-14 flex">
    <h1>Chula Open House 2024 </h1>
</div>

<div class="w-screen h-fit bg-gradient-to-b from-white via-rose-100 to-rose-600 -z-10">
  <div class="block px-8 pb-6 lg:px-60 lg:pt-20 w-screen h-full overflow-clip font-['IBM Plex Sans
     Thai Looped']" style="background-image: url('/public/detailBackground.svg'); background-size: cover; background-position: center;">
      <div class="pr-10 whitespace-normal break-normal pt-12 w-auto lg:w-3/4 h-fit topic ">
        SESSION TALK WITH AJARN
      </div>
      <div class="mt-2 w-3/4 break-normal faculty">
        คณะสถาปัตยกรรมศาสตร์ / 
        Faculty of Architecture
      </div>
      <div class="font-['IBM Plex Sans Thai Looped'] text-white tracking-tight text-base lg:text-2xl">
        ภาควิชาxxxxx สาขาวิชาxxxxx
      </div>
      <div class="flex place-items-center my-1 lg:mt-7 lg:mb-6 gap-2 lg:gap-2.5 register text-center ">
        <div class="flex w-fit items-center justify-center bg-pinkButton px-2.5 lg:px-4 pt-0.5 pb-px lg-py-1 pinkButton rounded-xl lg:rounded-2xl">
          <div class="register flex my-auto lg:text-base">ต้องลงทะเบียน / Limited seats</div>
        </div>
        <div class="flex w-fit items-center justify-center px-1 lg:px-2 pt-0.5 pb-px rounded-xl lg:rounded-2xl border-white border">
          <p class="flex register ">999/999</p>
        </div>
      </div>

      <div class="p-0 lg:flex">
      <div class="mt-2.5 px-3.5 lg:pr-8 py-3 lg:py-4 gap-2 text-base w-full lg:w-96 border-white border-2 rounded-2xl detail">
        <div class="flex p-0.5 gap-2 items-center">
          <img src="public/calenda.svg" class="w-6 h-6">
          <div class="flex align-text-bottom  ">20-21 January 2024</div>
        </div>
        <div class="flex p-0.5 gap-2 items-center">
          <img src="public/clock.svg" class="w-6 h-6">
          <div class="flex detail align-text-bottom">10:00-17:00</div>
        </div>
        <div class="flex p-0.5 gap-2 items-center">
          <img src="public/location.svg" class="w-6 h-6 mb-auto">
          <div class="flex h-full detail align-text-bottom">คณะสถาปัตยกรรมศาสตร์ / Faculty of Architecture </div>
        </div>
      </div>

      </div>
      <div class="rounded-2xl mt-6 w-fit border-white border-2 py-1.5 lg:py-2.5 px-5 mx-auto lg:ml-auto lg:mr-0 lg:mt-auto lg:mb-0 text-center text-white font-bold text-lg lg:test-2xl leading-normal tracking-tight bg-gradient-to-b from-pink-400 via-pink-500 to-transparent backdrop-blur-2xl">
        ลงทะเบียน / Register
      </div>
  </div>
  <div class="px-8 py-6 block w-full h-fit ">
    <div class="h-10 text-pink-600 text-2xl font-bold font-ibm">
      รายละเอียดกิจกรรม
    </div>
    <div class="text-indigo-950 break-words whitespace-normal text-justify text-base font-medium font-['IBM Plex Sans Thai Looped']">
      วันนี้ (27 ธ.ค.) นายชัชชาติ สิทธิพันธุ์ ผู้ว่าราชการกรุงเทพมหานคร ลงนามในประกาศกรุงเทพมหานคร กำหนดอัตราค่าโดยสารโครงการรถไฟฟ้าสายสีเขียว ส่วนต่อขยายที่ 2 ทั้ง 2 ช่วง ในอัตรา 15 บาท ตลอดสาย เริ่ม 2 มกราคม 2567 เป็นต้นไป

      เนื่องด้วยกรุงเทพมหานครมีนโยบายจะจัดเก็บค่าโดยสารโครงการรถไฟฟ้าสายสีเขียว ส่วนต่อขยายที่ 2 ประกอบด้วย โครงการรถไฟฟ้าสายสีเขียว ช่วงหมอชิต - สะพานใหม่ - คูคต และโครงการรถไฟฟ้าสายสีเขียว ช่วงแบริ่ง - สมุทรปราการ ในอัตราคงที่ 15 บาทตลอดสาย อาศัยอำนาจตามข้อ 4 แห่งข้อบัญญัติกรุงเทพมหานคร เรื่อง ค่าบริการระบบขนส่งมวลชนกรุงเทพมหานคร พ.ศ. 2552 จึงขอประกาศ ดังนี้ 
      
      1. ยกเลิกประกาศกรุงเทพมหานคร จำนวน 2 ฉบับ คือ ประกาศกรุงเทพมหานคร เมื่อวันที่ 15 มกราคม 2564 เรื่อง การกำหนดค่าโดยสารโครงการรถไฟฟ้าสายสีเขียว และประกาศกรุงเทพมหานคร เมื่อวันที่ 8 กุมภาพันธ์ 2564 เรื่อง การกำหนดค่าโดยสารโครงการรถไฟฟ้าสายสีเขียว
      
      2. ให้จัดเก็บค่าโดยสารโครงการระบบขนส่งมวลชนกรุงเทพมหานครสายสีเขียว 15 บาท ทั้ง 2 โครงการ ดังนี้
      
      2.1 โครงการรถไฟฟ้าสายสีเขียว ช่วงแบริ่ง - เคหะสมุทรปราการ (ส่วนต่อขยายสายสุขุมวิท) ระยะทาง 12.80 กิโลเมตร จำนวน 9 สถานี จากสถานีสำโรง (E15) ถึงสถานีเคหะสมุทรปราการ (E23)

      
      </div>
    <div class="w-full h-44 mt-9 mx-auto bg-indigo-900 rounded-2xl"></div>
    <div class="w-fit size-2 weight-400 mb-9 mx-auto text-xs text-black font-['IBM Plex Sans Thai Looped'] ">
      รายละเอียดภาพ
    </div>
    <div class="z-50 w-full h-[667px] fill-pink-500">
      footer
    </div>
    </div>

</div>
</BaseLayout>

<style>
  .topic {
    color: #FDFFFC;
    font-family: IBM Plex Sans Thai;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 35px; /* 109.375% */
    letter-spacing: -0.32px;
  }

  @media (min-width: 768px) {
    .topic {
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.48px;
    }
  }
  .faculty {
    color: #FFF;
    font-family: IBM Plex Sans Thai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    text-decoration-line: underline;
  }
  @media (min-width: 768px) {
    .faculty {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.24px;
    }
  }
  .pinkButton{
    background-color: #DE5C8E;
  }
  .detail{
    color: #FDFFFC;
    font-family: IBM Plex Sans Thai;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%; /* 20px */
    letter-spacing: -0.24px;
  }
  @media (min-width: 768px) {
    .detail{
      color: #FDFFFC;
font-family: IBM Plex Sans Thai;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.32px;
    }
  }
  .{
    color: #CA4072;
    font-family: IBM Plex Sans Thai;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .text{
    color: #100C42;
    font-family: IBM Plex Sans Thai Looped;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
      }
  .register{
    color: #FDFFFC;
text-align: center;
font-family: IBM Plex Sans Thai;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.1px;
  }
  @media (min-width: 768px) {
    .register{
      color: #FDFFFC;
text-align: center;
font-family: IBM Plex Sans Thai;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.16px;
    }
  }
  .calenda{
    color: #FFF;
font-family: IBM Plex Sans Thai;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 166.667%; /* 20px */
letter-spacing: -0.12px;
  }
</style>