---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout withNav={false} withFooter={false}>
  <div class="w-full h-14 flex">
    <h1>Chula Open House 2024 </h1>
</div>
  <div class="block w-screen h-max overflow-clip " style="background-image: url('/public/detailBackground.svg'); background-size: cover; background-position: center;">
    <!-- <div class="absolute x-10 y-64 block">
      <div class="topic flex h-auto">SSS</div>
    </div> -->
    <div class="mx-8">
      <div class="flex whitespace-normal break-normal mt-12 w-auto h-fit w-screen; text-white font-semibold text-4xl leading-14 tracking-tight">
        SESSION TALK WITH AJARN
      </div>
      <div class="mt-2 w-3/4 break-normal text-white font-bold text-lg leading-6 underline">
        คณะสถาปัตยกรรมศาสตร์ /
        Faculty of Architecture
      </div>
      <div class="text-white font-medium text-base leading-normal tracking-tight">
        ภาควิชาxxxxx สาขาวิชาxxxxx
      </div>
      <div class="flex place-items-center my-1 gap-2 text-white text-center font-medium text-xs leading-normal tracking-tight" style="letter-spacing: -0.1px;">
        <div class="flex w-fit items-center justify-center bg-pinkButton px-1.5 pinkButton rounded-xl">
          <div class="flex h-fit">ต้องลงทะเบียน / Limited seats</div>
        </div>
        <div class="flex w-fit items-center justify-center px-1 rounded-xl border-white border">
          <div class="flex h-fit items-baseline">999/999</div>
        </div>
      </div>
      <div class="mt-8 px-3.5 py-3 gap-2 w-full border-white border-2 rounded-2xl">
        <div class="flex p-0.5 gap-2 items-center">
          <img src="public/calenda.svg">
          <div class="flex detail align-middle">20-21 January 2024</div>
        </div>
        <div class="flex p-0.5 gap-2 items-center">
          <img src="public/clock.svg">
          <div class="flex detail align-middle">10:00-17:00</div>
        </div>
        <div class="flex p-0.5 gap-2 items-center">
          <img src="public/location.svg">
          <div class="flex h-full detail">คณะสถาปัตยกรรมศาสตร์ / Faculty of Architecture </div>
        </div>
      </div>
      <div class="rounded-2xl my-6 w-fit border-white border-2 py-1.5 px-5 mx-auto text-center text-white font-bold text-lg leading-normal tracking-tight">
        ลงทะเบียน / Register
      </div>
    </div>
  </div>
  <div class="px-8 py-6 block w-full h-fit bg-gradient-to-b from-white via-rose-100 to-rose-600">
    <div class="det h-10">
      รายละเอียดกิจกรรม
    </div>
    <div class="text">
      รายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรม

      
รายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรม

รายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรมรายละเอียดกิจกรรม
    </div>
    <div class="w-full h-20 mt-9 mx-auto bg-blue-500 rounded-2xl"></div>
    <div class="w-fit size-2 weight-400 mb-9 mx-auto ">
      รายละเอียดภาพ
    </div>
    <div class="z-50 w-full h-96 bg-color-pink-600">
      footer
    </div>
    </div>

  </div>
</BaseLayout>

<style>
  .topic {
    color: #FDFFFC;
    font-family: 'IBM Plex Sans Thai';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.48px;
  }
  .pinkButton{
    background-color: #DE5C8E;
  }
  .detail{
    color: #FDFFFC;
    font-family: IBM Plex Sans Thai;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%; /* 20px */
    letter-spacing: -0.24px;
  }
  .det{
    color: #CA4072;
    font-family: IBM Plex Sans Thai;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .text{
    color: #100C42;
    font-family: IBM Plex Sans Thai Looped;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
      }
</style>
