---
import BaseLayout from "@/layouts/BaseLayout.astro";
import EventContainer from "@/components/Event/EventContainer";
import { EVENTS } from "@/data/events";
---

<BaseLayout>
  <div
    class="flex flex-col items-center justify-center gap-16 text-center text-white"
  >
    <div class="flex flex-col text-center text-white">
      <p class="text-4xl">Events</p>
      <p class="text-xl underline underline-offset-8">กิจกรรมต่าง ๆ ในงาน</p>
    </div>
    <EventContainer events={EVENTS} client:load />
  </div>
</BaseLayout>
