---
import BaseLayout from "@/layouts/BaseLayout.astro";
import AllDepartments from "src/components/Faculty/AllDepartments.tsx";
---

<BaseLayout withNav={false} withFooter={false}>
  <div class="flex h-14 w-full">
    <h1>Chula Open House 2024</h1>
  </div>

  <!-- <div class="w-screen h-fit bg-gradient-to-b from-white via-rose-100 to-rose-600 -z-10"> -->
  <div class="-z-10 h-fit w-screen bg-pink-200">
    <div
      class="font-['IBM Plex Sans Thai Looped'] block h-full w-screen overflow-clip px-8 pb-11 pt-10
     lg:px-60 lg:pt-20"
      style="background-image: url('/public/detailBackground.svg'); background-size: cover; background-position: center;"
    >
      <div
        class="font-['IBM Plex Sans Thai'] h-fit w-fit whitespace-normal break-normal text-2xl font-bold text-white lg:w-3/4"
      >
        สถาบันนวัตกรรมบูรณาการแห่งจุฬาลงกรณ์มหาวิทยาลัย
      </div>
      <div class="w-full break-normal text-base font-bold text-white">
        Bachelor of Arts and Science in Integrated Innovation
      </div>
      <div
        class="mb-3 mt-4 flex w-fit items-center justify-center rounded-2xl border border-white bg-gradient-to-t from-pink-600 via-pink-500 to-white px-5 py-[5px] shadow-inner backdrop-blur-[48.91px]"
      >
        <div
          class="font-['IBM Plex Sans Thai'] text-center text-base font-bold text-white"
        >
          กิจกรรมทั้งหมด / All events
        </div>
      </div>
      <div
        class="font-['IBM Plex Sans Thai'] mt-3 block h-fit w-full gap-1.5 text-xs font-medium text-white lg:w-96"
      >
        <div class="flex h-6 w-max">
          <div class="flex h-full w-6 items-center justify-center">
            <img src="public/location.svg" class="h-5" />
          </div>
          <div class="ml-2.5 mt-1 flex h-full w-fit align-text-bottom">
            อาคารจามจุรี 10 / Charmchuri 10 Building
          </div>
        </div>

        <div class="flex h-6 w-max">
          <div class="flex h-max w-6">
            <img src="public/clock.svg" class="h-5" />
          </div>
          <div class="ml-1 flex w-fit align-text-bottom">
            อาคารมหาจักรีสิรินธร ห้องอเนกประสงค์ ชั้น 9 / Maha Chakri Sirindhorn
            Building, 9th floor, Multipurpose room
          </div>
        </div>

        <div class="mt-1.5 flex min-h-6 w-full">
          <div class="flex h-max w-6">
            <img src="public/chat.svg" class="h-5" />
          </div>
          <div class="ml-1 flex w-fit align-text-bottom">
            ภาษาไทย / Held in Thai
          </div>
        </div>
      </div>
    </div>
    <div class="mx-8 block">
      <AllDepartments />
    </div>
  </div>
</BaseLayout>

<style>
  .topic {
    color: #fdfffc;
    font-family: IBM Plex Sans Thai;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px; /* 109.375% */
    letter-spacing: -0.32px;
  }

  @media (min-width: 768px) {
    .topic {
      font-size: 48px;
      line-height: 56px;
      letter-spacing: -0.48px;
    }
  }
  .faculty {
    color: #fff;
    font-family: IBM Plex Sans Thai;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
    letter-spacing: -0.16px;
    text-decoration-line: underline;
  }
  @media (min-width: 768px) {
    .faculty {
      font-size: 24px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.24px;
    }
  }
  .pinkButton {
    background-color: #de5c8e;
  }
  .detail {
    color: #fdfffc;
    font-family: IBM Plex Sans Thai;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%; /* 20px */
    letter-spacing: -0.24px;
  }
  @media (min-width: 768px) {
    .detail {
      color: #fdfffc;
      font-family: IBM Plex Sans Thai;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.32px;
    }
  }
  . {
    color: #ca4072;
    font-family: IBM Plex Sans Thai;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.48px;
  }
  .text {
    color: #100c42;
    font-family: IBM Plex Sans Thai Looped;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
  }
  .register {
    color: #fdfffc;
    text-align: center;
    font-family: IBM Plex Sans Thai;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.1px;
  }
  @media (min-width: 768px) {
    .register {
      color: #fdfffc;
      text-align: center;
      font-family: IBM Plex Sans Thai;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.16px;
    }
  }
  .calenda {
    color: #fff;
    font-family: IBM Plex Sans Thai;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 166.667%; /* 20px */
    letter-spacing: -0.12px;
  }
</style>
