---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Selector from "@/components/Faculties/Selector";
import FacultiesCard from "@/components/Faculties/FacultiesCard";
---

<BaseLayout withJigsaw={false}>
  <section
    class="mb-12 flex w-full max-w-4xl flex-col items-center px-4 text-center"
  >
    <h1 class="text-6xl font-bold text-white">Faculties</h1>
    <h2 class="text-3xl font-medium text-white">รวมข้อมูลทุกคณะในจุฬาฯ</h2>
    <hr class="mt-2 w-1/2 border border-white" />
  </section>
  <Selector />
  <FacultiesCard />
</BaseLayout>
