---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Faq from "@/components/Faqs/Faq";
---

<BaseLayout withJigsaw={false}>
  <section
    class="my-12 mt-16 flex w-full flex-col items-center px-4 text-center"
  >
    <h1 class="text-6xl font-bold text-white">FAQs</h1>
    <h2 class="text-3xl font-medium text-white">รวมข้อมูลเกี่ยวกับงาน</h2>
    <hr class="mt-2 w-1/4 border border-white" />
  </section>
  <Faq client:load />
</BaseLayout>
