---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Day from "@/components/Landing/Day";
import Card from "@/components/Landing/Card.astro";
import Register from "@/components/Landing/Register";
---

<BaseLayout>
  <div class="flex w-full flex-col justify-center bg-black text-white">
    <div class="flex justify-evenly">
      <div class="flex flex-col">
        <div class="my-2.5 mt-14 h-28 w-64 md:h-auto md:w-auto">
          <img src="./Logo.svg" alt="logo" width="522" height="233" />
        </div>
        <h1 class="ml-10 mt-2.5 font-libre text-3xl font-bold">
          Chula Open House 2024
        </h1>
        <p class="mb-10 ml-10 text-base font-medium">20-21 January 2024</p>
        <Register />
      </div>
      <Day />
    </div>
    <div class="flex flex-col items-center justify-center">
      <div
        class="mb-24 mt-16 flex flex-col items-center justify-center text-base font-medium"
      >
        <p>ทุกความฝันที่สวยงามล้วนเริ่มต้นจากชิ้นส่วนเล็ก ๆ เสมอ</p>

        <p>
          ไม่เป็นอะไรเลยถ้าตอนนี้ทุกคนยังไม่เห็นภาพเส้นทางที่จะเดินไปในอนาคต
        </p>

        <p>
          เพราะการมางาน CU Open House 2024
          จะช่วยเติมเต็มภาพเหล่านั้นให้ชัดเจนขึ้นได้แน่นอน
        </p>
        <p>อย่าลืมมาร่วมต่อชิ้นส่วนแห่งความฝันและตัวตนไปด้วยกันนะ!</p>
      </div>

      <div
        class="flex h-12 w-3/5 items-center justify-center rounded-2xl border-2 p-2 px-5 py-2 font-bold"
      >
        <div
          class="mr-2 flex h-8 w-16 justify-center rounded-full border-2 border-white bg-pink-600"
        >
          <p class="text-lg">Live</p>
        </div>
        <p>ชื่อรายการ</p>
      </div>
      <div class="my-2 mb-28 h-[34rem] w-3/5 rounded-2xl bg-indigo-950"></div>
    </div>
    <div class="mb-20 flex w-full items-end justify-center">
      <Card
        imgUrl="./navigator.svg"
        title="CHULA"
        title_sub="NAVIGATOR"
        link="/navigator"
        text="แผนที่และวิธีการเดินทางทั่วจุฬาฯ"
      />
      <Card
        imgUrl="./events.svg"
        title="EVENTS"
        text="กิจกรรมต่าง ๆ ในงาน"
        link="/events"
      />
      <Card
        imgUrl="./faculties.svg"
        title="FACULTIES"
        link="/faculties"
        text="รวมข้อมูลทุกคณะในจุฬาฯ"
      />
    </div>
    <div class="mb-52 flex justify-center">
      <div class="ml-6">
        <img src="./idcard.svg" />
        <div
          class="absolute -translate-y-64 translate-x-3/4 font-libre text-4xl font-bold"
        >
          <p class="text-2xl font-medium">Your</p>
          <p>Chula</p>
          <p>Open House</p>
          <p>2024</p>
          <p>Profile</p>
          <a href="/click">
            <img class="mt-3.5" src="./click_here.svg" />
          </a>
        </div>
      </div>
      <div class="mr-6">
        <img src="./faqs.svg" />
        <div
          class="absolute flex -translate-y-72 translate-x-7 flex-col items-center justify-center font-libre text-4xl font-bold"
        >
          <p class="mb-20 font-ibm text-2xl text-[15rem] font-medium">?</p>
          <p>FAQs</p>
          <a href="/info" class="mt-3.5">
            <img src="./information.svg" />
          </a>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
