---
import CheckBox from "@/components/CheckBox.tsx";
import RegistrationBox1 from "@/components/Registration/PersonalInfoBox.astro";
import RegistrationBox2 from "@/components/Registration/PersonalStatusBox.astro";
import RegistrationBox3 from "@/components/Registration/SourceOfNewsBox.astro";
import RegistrationBox4 from "@/components/Registration/RoundOfAdmissionBox.astro";
import RegistrationBox5 from "@/components/Registration/InterestedFacultyBox";
import RegistrationBox6 from "@/components/Registration/PlannedFacultyBox";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout withNav={false} withFooter={false}>
  <div class="m-16 flex w-full flex-col items-center font-medium text-white">
    <h1 class="text-shadow-lg text-6xl font-bold leading-normal tracking-wide">
      ลงทะเบียน
    </h1>
    <h1
      class="mb-12 font-libre text-3xl font-bold underline underline-offset-[10px] md:mb-12"
    >
      Registration
    </h1>
    <form id="form" class="flex flex-col items-center">
      <!-- registerBox1 -->
      <RegistrationBox1 />
      <!-- RegisterBox2 -->
      <RegistrationBox2 />
      <!-- RegisterBox3 -->
      <RegistrationBox3 />
      <!-- RegisterBox4 -->
      <RegistrationBox4 />
      <!-- RegisterBox5 -->
      <RegistrationBox5 client:load />
      <!-- RegisterBox6 -->
      <RegistrationBox6 client:load />
      <div class="mb-16 flex">
        <CheckBox name="agreement" value="agreed" id="agreement" client:load />
        <label class="text-base"
          >ยอมรับ<span class="font-bold underline"
            >นโยบายความเป็นส่วนตัวและข้อตกลงการใช้งาน</span
          ></label
        >
      </div>
      <p id="error-text" class="mb-3 text-transparent">error</p>
      <button
        type="submit"
        class="place-self-center rounded-md border border-white bg-transparent px-4 py-2 font-bold"
      >
        ลงทะเบียน / Register</button
      >
    </form>

    <script>
      const form = document.getElementById("form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form as HTMLFormElement);
        const data = Object.fromEntries(formData);
        const checkbox3Data = getCheckBoxesValue("sourceOfNews");
        const checkboxAgreement = getCheckBoxesValue("agreement");
        console.log(data, checkbox3Data, checkboxAgreement);
        var errorText = validateData(data, checkboxAgreement);
        const errorT = document.getElementById("error-text");
        if (errorText != "") {
          errorT.innerHTML = errorText;
          errorT.classList.remove("text-transparent");
        }
      });
      function getCheckBoxesValue(name: string) {
        return [].slice
          .apply(
            document.querySelectorAll("input[type=checkbox][name=" + name + "]")
          )
          .filter(function (c) {
            return c.checked;
          })
          .map(function (c) {
            return c.value;
          });
      }
      function validateData(data, checkboxAgreement) {
        if (data.firstName.trim() == "" || data.lastName.trim() == " ") {
          return "no firstname";
        }
        if (!data.dayOfBirth || !data.monthOfBirth || !data.yearOfBirth) {
          return "no birthday";
        }
        if (!data.residence) {
          return "no residence";
        }
        if (
          (data.residence == "Thailand" && !data.province) ||
          (data.residence == "Other countries" && !data.country)
        ) {
          return "no residence";
        }
        if (
          !data.status ||
          (data.status == "student" && !data.educationLevel)
        ) {
          return "no status";
        }
        if (!data.sourceOfNews) {
          return "no source of news";
        }
        if (checkboxAgreement.length == 0) {
          return "please accept terms and conditions";
        }
        return "";
      }
    </script>
  </div>
</BaseLayout>
 @/components/Registration/PlannedFacultyBox
