---
import Form from "@/components/Registration/Form";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout withNav={false} withFooter={false}>
  <div class="m-16 flex w-full flex-col items-center font-medium text-white">
    <h1 class="text-shadow-lg text-6xl font-bold leading-normal tracking-wide">
      ลงทะเบียน
    </h1>
    <h1
      class="mb-12 font-libre text-3xl font-bold underline underline-offset-[10px] md:mb-12"
    >
      Registration
    </h1>
    <Form client:load />

    <!-- <script>
      const form = document.getElementById("form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        const formData = new FormData(form as HTMLFormElement);
        const data = Object.fromEntries(formData);
        const checkbox3Data = getCheckBoxesValue("sourceOfNews");
        const checkboxAgreement = getCheckBoxesValue("agreement");
        console.log(data, checkbox3Data, checkboxAgreement);
        var errorText = validateData(data, checkboxAgreement);
        const errorT = document.getElementById("error-text");
        if (errorText) {
          errorT.classList.remove("hidden");
        }
      });
      function getCheckBoxesValue(name: string) {
        return [].slice
          .apply(
            document.querySelectorAll("input[type=checkbox][name=" + name + "]")
          )
          .filter(function (c) {
            return c.checked;
          })
          .map(function (c) {
            return c.value;
          });
      }
      function validateData(data, checkboxAgreement) {
        if (data.firstName.trim() == "" || data.lastName.trim() == " ") {
          return false;
        }
        if (!data.dayOfBirth || !data.monthOfBirth || !data.yearOfBirth) {
          return false;
        }
        if (!data.residence) {
          return false;
        }
        if (
          (data.residence == "Thailand" && !data.province) ||
          (data.residence == "Other countries" && !data.country)
        ) {
          return false;
        }
        if (
          !data.status ||
          (data.status == "student" && !data.educationLevel)
        ) {
          return false;
        }
        if (!data.sourceOfNews) {
          return false;
        }
        if (checkboxAgreement.length == 0) {
          return false;
        }
        return true;
      }

    </script> -->
  </div>
</BaseLayout>
