---
import Form from "@/components/Registration/Form";
import BaseLayout from "@/layouts/BaseLayout.astro";

let token;
if (Astro.cookies.has("token")) token = Astro.cookies.get("token");
if (!token) return Astro.redirect("/login");

const res = await fetch(import.meta.env.PUBLIC_API_BASE_URL + "/auth/me", {
  headers: {
    Authorization: `Bearer ${token.value}`,
  },
});

if (res.ok) return Astro.redirect("/");
else {
  const error = await res.json();
  if (error.title === "invalid-token") {
    alert("กรุณาเข้าสู่ระบบใหม่อีกครั้ง");
    return Astro.redirect("/login");
  }
}
---

<BaseLayout withNav={false} withFooter={false}>
  <div class="flex w-full flex-col items-center font-medium text-white">
    <h1 class="text-center text-3xl font-bold md:text-6xl">ลงทะเบียน</h1>
    <h2
      class="mb-12 font-libre font-bold underline underline-offset-8 md:mb-12 md:text-3xl"
    >
      Registration
    </h2>
    <Form client:load token={token.value} />
  </div>
</BaseLayout>
