---
import Form from "@/components/Registration/Form";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout withNav={false} withFooter={false}>
  <div class="m-16 flex w-full flex-col items-center font-medium text-white">
    <h1 class="text-shadow-lg text-6xl font-bold leading-normal tracking-wide">
      ลงทะเบียน
    </h1>
    <h1
      class="mb-12 font-libre text-3xl font-bold underline underline-offset-[10px] md:mb-12"
    >
      Registration
    </h1>
    <Form client:load />
  </div>
</BaseLayout>
