---
import BaseLayout from "@/layouts/BaseLayout.astro";
import TextBox from "@/components/FAQs/TextBox.astro";
import type { Props as TextBoxProps } from "@/components/FAQs/TextBox.astro";
import { FAQsEng } from "@/components/FAQs/FAQsData";
---

<BaseLayout withJigsaw={false}>
  <section class="mb-12 flex w-full flex-col items-center px-4 text-center">
    <h1 class="text-6xl font-bold text-white">FAQs</h1>
    <h2 class="text-3xl font-medium text-white">รวมข้อมูลเกี่ยวกับงาน</h2>
    <hr class="mt-2 w-1/4 border border-white" />
  </section>
  <div class="flex w-full flex-col items-center text-white">
    <section class="flex text-3xl font-bold">
      <a
        href="/faqs"
        class:list={[
          "duration-200 hover:bg-white/25",
          "mx-2 flex h-16 w-16 items-center justify-center rounded-2xl border-2 border-white bg-transparent shadow-inner shadow-white",
        ]}
      >
        TH
      </a>
      <a
        href="/faqs/en"
        class:list={[
          "bg-white text-pink-800",
          "mx-2 flex h-16 w-16 items-center justify-center rounded-2xl border-2 border-white bg-transparent shadow-inner shadow-white",
        ]}
      >
        EN
      </a>
    </section>
    <div class="w-full max-w-5xl">
      {
        FAQsEng.map(({ question, answer }: TextBoxProps) => {
          return <TextBox question={question} answer={answer} />;
        })
      }
    </div>
  </div>
</BaseLayout>
