---

---

<div class="flex flex-col gap-5">
  <span class="text-center font-libre text-2xl font-bold md:text-left"
    >Chula Open House 2024</span
  >
  <div class="flex flex-col gap-7 md:gap-4">
    <div
      class="flex flex-col items-center gap-2 text-xl font-medium md:items-start"
    >
      <a
        href="https://www.facebook.com/cuopenhouse2021"
        class="flex items-center justify-center gap-1 text-center md:gap-3"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="icon-[mdi--facebook] text-4xl text-white"></i>
        CU Openhouse
      </a>
      <a
        href="https://www.instagram.com/cuopenhouse/"
        class="flex items-center justify-center gap-1 text-center md:gap-3"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="icon-[mdi--instagram] text-4xl text-white md:gap-3"></i>
        @cuopenhouse
      </a>
      <a
        href="https://www.tiktok.com/@cu_openhouse2024/"
        class="flex items-center justify-center gap-1 text-center md:gap-3"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="icon-[custom--tiktok] text-4xl text-white"></i>
        cu_openhouse2024
      </a>
    </div>
    <div
      class="flex flex-col items-center justify-center md:flex-row md:justify-start"
    >
      <div
        class="rounded-full bg-white px-4 py-1 text-center text-sm font-thin text-pink-500"
      >
        Developed by SGCU66
      </div>
      <div class="flex items-center gap-3 p-2">
        <i class="icon-[custom--sgcu] text-4xl text-white"></i>
        <i class="icon-[custom--isd] text-2xl text-white"></i>
      </div>
    </div>
  </div>
</div>
