---
import { Image } from "astro:assets";
import isd from "@/assets/isd.svg";
import sgcu from "@/assets/sgcu.svg";
---

<span class="flex flex-col">
  <div class="font-libre text-2xl">Chula Open House 2024</div>
  <div>
    <div class="flex flex-col items-center font-thin">
      <a href="https://www.facebook.com/cuopenhouse2021" class="flex gap-1">
        <i class="icon-[mdi--facebook] text-4xl text-white"></i>
        <p class="py-2">CU Openhouse</p>
      </a>
      <a href="https://www.instagram.com/cuopenhouse/" class="flex gap-1"
        ><i class="icon-[mdi--instagram] text-4xl text-white"></i>
        <p class="py-2">@cuopenhouse</p></a
      >
      <a href="/" class="flex gap-1">
        <i class="icon-[logos--tiktok-icon] text-4xl text-white"></i>
        <p class="py-2">cu_openhouse2024</p>
      </a>
    </div>
    <div class="flex flex-col items-center justify-center lg:flex-row">
      <div class="rounded-lg bg-white px-2 py-1">
        <p class="text-center text-sm font-thin text-pink-500">
          Developed by SGCU66
        </p>
      </div>
      <div class="flex items-center gap-3 p-2">
        <Image src={sgcu} alt="chula" />
        <Image src={isd} alt="isd" />
      </div>
    </div>
  </div>
</span>
