---
// WAIT FOR logo
---

<span class="flex flex-col gap-1">
  <div class="font-libre text-2xl">Chula Open House 2024</div>
  <div class="gap-4">
    <div class="flex flex-col items-center gap-1 font-thin">
      <a href="https://www.facebook.com/cuopenhouse2021" class="flex gap-1">
        <i class="icon-[ic--baseline-facebook] text-4xl text-white"></i>
        <p class="mt-1">CU Openhouse</p>
      </a>
      <a href="https://www.instagram.com/cuopenhouse/" class="flex gap-1"
        ><i class="icon-[mdi--instagram] text-4xl text-white"></i>
        <p class="mt-1">@cuopenhouse</p></a
      >
      <a href="/" class="flex gap-1">
        <i class="icon-[ic--baseline-tiktok] text-4xl text-white"></i>
        <p class="mt-1">cu_openhouse2024</p>
      </a>
    </div>
    <div class="flex flex-col items-center justify-center lg:flex-row">
      <div class="mr-2 mt-3 rounded-lg bg-white px-2 py-1">
        <p class="relative top-0.5 text-center text-sm font-thin text-pink-500">
          Developed by SGCU66
        </p>
      </div>
      <div class="flex items-center justify-center gap-3">
        <svg
          width="19"
          height="33"
          viewBox="0 0 19 33"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="relative top-1"
        >
          <path
            d="M17.5989 32.2529C17.5768 31.9374 17.8613 31.5369 18.2902 31.5369C18.6789 31.5369 18.9975 31.8565 18.9995 32.2571C19.0035 32.6514 18.6789 32.9835 18.2942 32.9835C17.9054 32.9835 17.5968 32.6597 17.5989 32.2508V32.2529Z"
            fill="#FDFFFC"></path>
          <path
            d="M10.7582 26.1199H11.7561C11.7641 26.1904 11.7781 26.2506 11.7781 26.3129C11.7781 28.185 11.7781 30.057 11.7781 31.927C11.7781 32.1055 11.712 32.2404 11.5617 32.3152C11.0808 32.5538 10.5959 32.7884 10.0709 32.9129C9.33146 33.0872 8.62412 32.998 7.95485 32.6348C7.38177 32.3235 7.07519 31.8191 7.06116 31.157C7.03712 29.9927 7.03912 28.8263 7.0311 27.662C7.0291 27.251 7.0311 26.838 7.03311 26.427C7.03311 26.3855 7.03311 26.344 7.03311 26.3025C7.03912 26.1199 7.05515 26.1033 7.23349 26.1033C7.506 26.1033 7.77652 26.1033 8.06306 26.1033C8.07107 26.1572 8.08109 26.2008 8.08109 26.2465C8.08109 27.7118 8.07909 29.177 8.07709 30.6423C8.07709 30.8063 8.06707 30.9744 8.09712 31.1342C8.19731 31.6448 8.52594 31.8337 8.91868 31.9084C9.47574 32.0142 10.0107 31.9146 10.5317 31.6967C10.69 31.6303 10.7602 31.5161 10.7582 31.3438C10.7542 30.9786 10.7542 30.6133 10.7542 30.2501C10.7542 28.955 10.7542 27.6599 10.7542 26.3648C10.7542 26.2901 10.7542 26.2133 10.7542 26.122L10.7582 26.1199Z"
            fill="#FDFFFC"></path>
          <path
            d="M1.48075 27.61C1.42665 27.3298 1.37455 27.0745 1.32847 26.8172C1.31244 26.7342 1.3445 26.6657 1.40862 26.6159C1.45871 26.5785 1.51081 26.5391 1.56692 26.5121C2.03981 26.2962 2.52674 26.1198 3.04372 26.0492C3.28016 26.0181 3.51862 26.0202 3.75707 26.0077C3.81718 26.0057 3.8773 26.0077 3.95745 26.0077C3.94943 25.9206 3.94542 25.8583 3.93541 25.796C3.84924 25.244 3.78913 24.6877 3.82119 24.1294C3.86928 23.2785 4.13178 22.4981 4.5646 21.7758C4.65677 21.6223 4.75095 21.4708 4.85916 21.2902C3.9314 21.0328 3.07978 20.6385 2.27827 20.13C1.47675 19.6236 0.735343 19.0321 0.00195312 18.4074C0.0400253 18.3679 0.0640708 18.3347 0.092124 18.3119C0.783434 17.7743 1.47675 17.243 2.21214 16.7698C3.10984 16.1908 4.05163 15.7238 5.08559 15.4643C5.23988 15.4249 5.39417 15.3896 5.5705 15.3481C6.85293 10.2549 8.13937 5.14509 9.43583 0C9.46789 0.0581132 9.48993 0.0809434 9.49795 0.11C9.69632 0.871698 9.89871 1.62925 10.0871 2.39302C10.4137 3.70679 10.7223 5.02472 11.0549 6.33642C11.636 8.63189 12.2291 10.9232 12.8162 13.2166C12.9665 13.8081 13.1148 14.3996 13.2651 14.9911C13.2831 15.0596 13.3012 15.1281 13.3252 15.1925C13.3673 15.3045 13.4434 15.3751 13.5596 15.4021C14.8902 15.7113 16.1005 16.307 17.2306 17.0832C17.7977 17.4734 18.3487 17.8926 18.9058 18.2994C18.9278 18.316 18.9478 18.3368 18.9759 18.3638C18.9559 18.3908 18.9458 18.4177 18.9238 18.4323C18.1263 19.0092 17.3388 19.5945 16.5293 20.1549C15.8119 20.6509 15.0164 20.9851 14.1948 21.2508C14.1528 21.2653 14.1107 21.2798 14.0506 21.3026C14.0806 21.3566 14.0987 21.4023 14.1287 21.4438C14.6217 22.1411 14.9362 22.9153 15.0525 23.7704C15.1426 24.4345 15.1066 25.0966 14.9743 25.7545C14.9603 25.823 14.9503 25.8915 14.9342 25.9787C15.0124 25.9891 15.0765 26.0015 15.1406 26.0077C15.4612 26.0389 15.7859 26.0617 16.0944 26.1675C16.7998 26.4125 17.2386 26.9126 17.4069 27.6577C17.4711 27.9379 17.4811 28.2243 17.461 28.517C17.4089 29.2808 17.1785 30.0009 16.9881 30.7294C16.898 31.074 16.8058 31.4185 16.7156 31.7651C16.5713 32.3255 16.2628 32.7343 15.7077 32.9066C15.4091 33 15.1046 33.0062 14.798 32.9357C14.6477 32.9004 14.4994 32.8609 14.3491 32.8298C14.2189 32.8028 14.1327 32.7302 14.1087 32.5932C14.0846 32.4604 14.0646 32.3275 14.0486 32.1947C13.9865 31.6821 13.9283 31.1694 13.8682 30.6568C13.8622 30.5987 13.8462 30.5426 13.8382 30.4845C13.8121 30.2977 13.744 30.2292 13.5616 30.2189C13.4534 30.2126 13.3452 30.2189 13.237 30.2147C13.0707 30.2085 13.0467 30.1857 13.0467 30.0196C13.0467 29.8017 13.0467 29.5838 13.0587 29.3659C13.0647 29.2351 13.1088 29.1874 13.229 29.1957C13.5055 29.2164 13.7861 29.2289 14.0566 29.2849C14.4994 29.3783 14.7218 29.7145 14.81 30.1442C14.8661 30.414 14.8882 30.69 14.9182 30.964C14.9483 31.2275 14.9683 31.4911 14.9964 31.7526C15.0024 31.8108 15.0264 31.8647 15.0465 31.9394C15.1827 31.9394 15.319 31.9519 15.4512 31.9353C15.5915 31.9166 15.6556 31.8045 15.6897 31.6696C15.7558 31.4081 15.8259 31.1466 15.8921 30.8851C16.0644 30.196 16.2467 29.5091 16.401 28.8179C16.4752 28.49 16.4511 28.1475 16.375 27.8196C16.2748 27.3858 15.884 27.0808 15.4332 27.0558C15.0264 27.033 14.6297 27.1098 14.2329 27.1825C13.8622 27.2489 13.4975 27.336 13.1469 27.4792C13.1208 27.4896 13.0928 27.4938 13.0567 27.5042C13.0387 27.4626 13.0166 27.4274 13.0106 27.39C12.9725 27.1451 12.9385 26.9023 12.9044 26.6574C12.8884 26.5308 12.9104 26.4851 13.0246 26.4374C13.1509 26.3855 13.2831 26.3481 13.4114 26.3004C13.4895 26.2713 13.5636 26.234 13.6458 26.1966C13.6037 26.097 13.5296 26.0783 13.4635 26.0513C12.9104 25.8209 12.3554 25.5968 11.8063 25.3602C11.3034 25.1443 10.7984 24.9285 10.3055 24.6898C9.77247 24.4325 9.24747 24.4138 8.70645 24.6462C7.82077 25.0281 6.93509 25.4079 6.04741 25.7877C5.75285 25.9123 5.45829 26.0326 5.16373 26.1572C5.07557 26.1945 4.99341 26.2402 4.88521 26.2962C4.94332 26.346 4.97738 26.3834 5.01746 26.4104C5.60256 26.8234 5.85905 27.4128 5.86506 28.1268C5.87308 29.0857 5.87107 30.0466 5.86506 31.0055C5.85905 31.9602 5.37614 32.5642 4.55458 32.8236C3.68493 33.0975 2.8233 33.0291 1.98772 32.67C1.76329 32.5745 1.54688 32.4521 1.33047 32.3358C1.18219 32.257 1.12007 32.1241 1.11005 31.9477C1.082 31.3583 1.082 30.7709 1.11807 30.1836C1.14812 29.673 1.37255 29.2766 1.83342 29.0483C2.05184 28.9404 2.28428 28.8864 2.52473 28.8823C2.88942 28.876 3.25211 28.8823 3.6168 28.8781C3.68493 28.8781 3.74705 28.8864 3.74705 28.9757C3.74705 29.2808 3.74705 29.5858 3.74705 29.9096C3.67291 29.9138 3.61279 29.9221 3.55068 29.9221C3.26013 29.9221 2.97158 29.9221 2.68103 29.9221C2.61891 29.9221 2.55479 29.9221 2.49468 29.9283C2.28027 29.9574 2.19611 30.0404 2.15403 30.2583C2.14602 30.304 2.14 30.3517 2.14 30.3974C2.14 30.7211 2.14 31.0449 2.138 31.3687C2.138 31.5306 2.20613 31.6302 2.3484 31.6925C2.79525 31.8875 3.26013 31.9851 3.74304 31.9415C3.9855 31.9187 4.22596 31.873 4.44237 31.7402C4.68883 31.5887 4.81708 31.3708 4.81708 31.074C4.81708 30.2147 4.81708 29.3555 4.81708 28.4962C4.81708 28.3426 4.81708 28.1891 4.81307 28.0375C4.80505 27.5996 4.59265 27.2925 4.1939 27.1409C3.95544 27.0496 3.70898 27.0268 3.4565 27.0392C3.01967 27.0621 2.60288 27.1742 2.19611 27.3257C1.96768 27.4108 1.74125 27.5083 1.48075 27.6121V27.61ZM8.85272 7.19774C8.83469 7.19774 8.81866 7.19774 8.80062 7.19774C8.78459 7.22679 8.76255 7.25377 8.75454 7.28491C8.10931 9.8917 7.46409 12.4985 6.81286 15.1343C7.22965 15.1136 7.62039 15.097 8.00913 15.0762C8.13336 15.07 8.2576 15.0638 8.38183 15.0534C8.47801 15.0451 8.5742 15.0368 8.66837 15.0181C8.79261 14.9932 8.8427 14.9351 8.85673 14.8043C8.86274 14.7587 8.86074 14.7109 8.86074 14.6632C8.86274 13.8579 8.86475 13.0506 8.86875 12.2453C8.86875 11.8219 8.87877 11.3985 8.88078 10.9751C8.88679 9.7983 8.8908 8.62151 8.8928 7.44472C8.8928 7.3617 8.86675 7.27868 8.85072 7.19566L8.85272 7.19774ZM4.97738 24.9181C5.05152 24.8911 5.09961 24.8745 5.1457 24.8559C5.84502 24.5632 6.54435 24.2685 7.24368 23.9758C7.71056 23.7808 8.17945 23.5836 8.64633 23.3906C8.79261 23.3304 8.86875 23.2328 8.86475 23.0564C8.85473 22.6911 8.86475 22.3279 8.86274 21.9626C8.86274 21.9066 8.85673 21.8485 8.85272 21.7883C8.79261 21.78 8.74853 21.7717 8.70444 21.7696C8.14939 21.724 7.59634 21.6762 7.04129 21.6306C6.80284 21.6119 6.56639 21.5974 6.32794 21.5766C6.21573 21.5662 6.12756 21.6015 6.05943 21.6908C6.00332 21.7634 5.94121 21.834 5.8851 21.9066C5.51841 22.386 5.23587 22.9091 5.0956 23.5089C5.00744 23.8825 5.01145 24.2664 4.97938 24.6462C4.97337 24.7272 4.97938 24.8102 4.97938 24.9181H4.97738ZM13.8702 24.8808C13.8863 24.8683 13.8923 24.8642 13.8943 24.86C13.9003 24.8309 13.9063 24.8019 13.9103 24.7728C13.9484 24.3162 13.9103 23.8679 13.7901 23.4279C13.6178 22.7949 13.3092 22.2366 12.8964 21.7385C12.7982 21.6202 12.68 21.5745 12.5337 21.587C12.3694 21.6015 12.2051 21.614 12.0408 21.6264C11.4456 21.6721 10.8505 21.7198 10.2554 21.7634C10.075 21.7759 10.041 21.8111 10.039 22.0021C10.035 22.3549 10.033 22.7077 10.029 23.0606C10.029 23.2058 10.0811 23.3096 10.2153 23.3657C10.3676 23.4279 10.5199 23.4943 10.6722 23.5587C11.7001 23.9862 12.7261 24.4158 13.754 24.8434C13.7941 24.86 13.8362 24.8704 13.8702 24.8808ZM10.053 15.0119C10.7343 15.0513 11.3955 15.0908 12.0488 15.1302C12.0608 15.0991 12.0688 15.0887 12.0688 15.0783C12.0688 15.0492 12.0648 15.0202 12.0568 14.9911C11.4016 12.3594 10.7443 9.72774 10.0871 7.09604C10.0871 7.09189 10.079 7.08774 10.075 7.08774C10.069 7.08774 10.065 7.08774 10.053 7.09189V15.014V15.0119ZM10.029 16.2302C10.029 16.3277 10.029 16.3921 10.029 16.4564C10.029 16.8217 10.0249 17.187 10.0229 17.5523C10.0229 17.7577 10.073 17.8096 10.2754 17.8117C10.2814 17.8117 10.2874 17.8117 10.2935 17.8117C12.147 17.8117 14.0005 17.8117 15.854 17.8117C15.9141 17.8117 15.9742 17.8034 16.0403 17.7992C16.0303 17.7702 16.0283 17.7557 16.0223 17.7515C16.0003 17.7328 15.9762 17.7183 15.9522 17.7038C14.6758 16.8985 13.2791 16.4855 11.8023 16.334C11.3214 16.2842 10.8385 16.2655 10.3576 16.2364C10.2574 16.2302 10.1572 16.2364 10.033 16.2364L10.029 16.2302ZM8.85072 16.2509C8.70244 16.2406 8.56818 16.2219 8.43393 16.2219C7.74462 16.2219 7.06333 16.307 6.38605 16.4315C5.53644 16.5872 4.69885 16.7989 3.88932 17.1123C3.57071 17.2368 3.25612 17.3696 2.97358 17.573C2.90145 17.6249 2.82731 17.6747 2.78523 17.7681C3.0878 17.8013 8.71646 17.7889 8.85072 17.7515V16.2468V16.2509ZM2.86738 19.0196C2.86137 19.0321 2.85536 19.0445 2.84935 19.057C2.89143 19.0902 2.9315 19.1317 2.97759 19.1587C3.68493 19.5758 4.41632 19.9328 5.20581 20.157C5.57652 20.2628 5.87508 20.1881 6.15361 19.91C6.4141 19.6506 6.70666 19.4243 6.98519 19.1836C7.03728 19.1379 7.10742 19.1068 7.13948 19.0217H2.86939L2.86738 19.0196ZM11.7582 19.0487C11.7642 19.0674 11.7642 19.0819 11.7703 19.0881C12.1931 19.443 12.6179 19.7958 13.0427 20.1508C13.1469 20.24 13.2571 20.2587 13.3913 20.2275C14.3071 20.0075 15.1487 19.6028 15.9562 19.1192C15.9902 19.0985 16.0183 19.0694 16.0784 19.0175C14.6257 19.0175 13.219 19.0175 11.8123 19.0175C11.7943 19.0175 11.7743 19.0362 11.7582 19.0466V19.0487ZM8.83469 20.5783C8.87076 20.3583 8.86475 19.5364 8.82467 19.3994C8.29767 19.7232 7.77268 20.0408 7.28375 20.4849C7.82478 20.5181 8.32572 20.5472 8.83469 20.5783ZM10.0951 19.3932C10.0831 19.4015 10.069 19.4077 10.057 19.416C10.059 19.7938 10.053 20.1715 10.061 20.5575C10.1171 20.5617 10.1492 20.5679 10.1832 20.5658C10.6241 20.5409 11.0649 20.516 11.5057 20.4911C11.5158 20.4911 11.5278 20.4849 11.5378 20.4808C11.5418 20.4787 11.5458 20.4725 11.5478 20.4662C11.5498 20.4621 11.5518 20.4558 11.5599 20.4413C11.5518 20.4289 11.5478 20.4019 11.5318 20.3915C11.0549 20.0574 10.576 19.7274 10.0971 19.3953L10.0951 19.3932Z"
            fill="#FDFFFC"></path>
        </svg>
        <svg
          class="relative top-2"
          width="39"
          height="22"
          viewBox="0 0 39 22"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_259_1792)">
            <path
              d="M19.5176 17.581C19.5176 17.581 21.685 17.4058 21.685 19.778L23.8524 17.581C23.8524 17.581 21.685 17.7876 21.685 15.384L19.5176 17.581Z"
              fill="white"></path>
            <path
              d="M0.00292969 8.22295V0.593674C0.00292969 0.27982 0.253217 0.026123 0.56285 0.026123H3.77787C4.08752 0.026123 4.3378 0.27982 4.3378 0.593674V8.17586C4.3378 8.51587 4.06687 8.79048 3.73143 8.79048H0.56285C0.253217 8.79048 0.00292969 8.53681 0.00292969 8.22295Z"
              fill="white"></path>
            <path
              d="M13.0098 4.38609V0.026123H17.3447V4.42007H13.0433C13.0253 4.42007 13.0098 4.40439 13.0098 4.38609Z"
              fill="white"></path>
            <path
              d="M8.67188 4.38365V0.520616C8.67188 0.245995 8.89121 0.0236816 9.16214 0.0236816H13.0067V4.41763H8.70541C8.68735 4.41763 8.67188 4.40195 8.67188 4.38365Z"
              fill="white"></path>
            <path
              d="M21.6825 0.643368V3.83682C21.6825 4.15853 21.4245 4.42009 21.1071 4.42009H17.3477V0.026123H21.0736C21.409 0.026123 21.6825 0.303361 21.6825 0.643368Z"
              fill="white"></path>
            <path
              d="M0.00292969 17.5811V21.975H4.3378V17.5811H0.00292969Z"
              fill="white"></path>
            <path
              d="M25.9629 3.78979V0.575397C25.9629 0.256313 26.2184 0 26.5306 0H28.2619C29.3869 0 30.3004 0.925867 30.3004 2.0662V4.39656H26.5615C26.2313 4.39656 25.9655 4.12455 25.9655 3.79239L25.9629 3.78979Z"
              fill="white"></path>
            <path
              d="M25.9625 21.975V17.5811H30.2974V19.846C30.2974 21.023 29.3556 21.9776 28.1945 21.9776H25.96L25.9625 21.975Z"
              fill="white"></path>
            <path
              d="M21.625 8.18383V5.00084C21.625 4.66605 21.8934 4.39404 22.2236 4.39404H25.3638C25.6941 4.39404 25.9625 4.66605 25.9625 5.00084V8.13677C25.9625 8.49768 25.6735 8.7906 25.3174 8.7906H22.2236C21.8934 8.7906 21.625 8.51862 21.625 8.18383Z"
              fill="white"></path>
            <path
              d="M8.67252 8.22045V4.39404H13.0074V8.7409C13.0074 8.76707 12.9867 8.7906 12.9583 8.7906H9.23244C8.92279 8.7906 8.66992 8.53693 8.66992 8.22045H8.67252Z"
              fill="white"></path>
            <path
              d="M13.0098 21.9411V17.5471H16.7692C17.0866 17.5471 17.3447 17.8087 17.3447 18.1304V21.3369C17.3447 21.6717 17.0763 21.9411 16.7486 21.9411H13.0098Z"
              fill="white"></path>
            <path
              d="M9.28374 17.5549H13.0097V21.9489H9.33277C8.96896 21.9489 8.6748 21.6507 8.6748 21.2819V18.1722C8.6748 17.8322 8.9483 17.5549 9.28374 17.5549Z"
              fill="white"></path>
            <path
              d="M21.6846 21.2586V17.6806C21.6846 17.6257 21.7284 17.5786 21.7852 17.5786H25.9214C25.9756 17.5786 26.022 17.6231 26.022 17.6806V21.8732C26.022 21.9281 25.9782 21.9752 25.9214 21.9752H22.3916C22.0019 21.9752 21.6846 21.6535 21.6846 21.2586Z"
              fill="white"></path>
            <path
              d="M28.1299 0V4.39396C31.7215 4.39396 34.6349 7.34681 34.6349 10.9875C34.6349 14.6282 31.7215 17.581 28.1299 17.581V21.975C34.1162 21.975 38.9697 17.0554 38.9697 10.9875C38.9697 4.91964 34.1162 0 28.1299 0Z"
              fill="white"></path>
            <path
              d="M0.00257886 17.568V13.8044C0.00257886 13.4618 0.27867 13.1819 0.616688 13.1819H3.67174C4.03815 13.1819 4.33746 13.4853 4.33746 13.8567V17.568C4.33746 17.568 4.3323 17.5785 4.32712 17.5785H0.0103194C0.0103194 17.5785 0 17.5732 0 17.568H0.00257886Z"
              fill="white"></path>
            <path
              d="M4.33789 9.35808V12.6169C4.33789 12.9304 4.5886 13.1845 4.89782 13.1845H8.11286C8.42208 13.1845 8.67279 12.9304 8.67279 12.6169V9.35808C8.67279 9.04464 8.42208 8.79053 8.11286 8.79053H4.89782C4.5886 8.79053 4.33789 9.04464 4.33789 9.35808Z"
              fill="white"></path>
            <path
              d="M4.33737 10.9875C4.33737 10.9875 4.51023 13.1845 2.16992 13.1845L4.33737 15.3815C4.33737 15.3815 4.13351 13.1845 6.50479 13.1845L4.33737 10.9875Z"
              fill="white"></path>
            <path
              d="M13.0122 2.22314C13.0122 2.22314 13.185 4.42011 10.8447 4.42011L13.0122 6.61711C13.0122 6.61711 12.8083 4.42011 15.1796 4.42011L13.0122 2.22314Z"
              fill="white"></path>
            <path
              d="M17.3471 15.3816C17.3471 15.3816 17.52 17.5786 15.1797 17.5786L17.3471 19.7756C17.3471 19.7756 17.1433 17.5786 19.5146 17.5786L17.3471 15.3816Z"
              fill="white"></path>
            <path
              d="M25.9623 2.22314C25.9623 2.22314 26.1352 4.42011 23.7949 4.42011L25.9623 6.61711C25.9623 6.61711 25.7585 4.42011 28.1298 4.42011L25.9623 2.22314Z"
              fill="white"></path>
            <path
              d="M21.685 2.22314C21.685 2.22314 21.5121 4.42011 23.8524 4.42011L21.685 6.61711C21.685 6.61711 21.8889 4.42011 19.5176 4.42011L21.685 2.22314Z"
              fill="white"></path>
            <path
              d="M13.0102 6.59351C13.0102 6.59351 12.8373 8.7905 15.1776 8.7905L13.0102 10.9875C13.0102 10.9875 13.2141 8.7905 10.8428 8.7905L13.0102 6.59351Z"
              fill="white"></path>
            <path
              d="M4.33737 6.59351C4.33737 6.59351 4.16448 8.7905 6.50479 8.7905L4.33737 10.9875C4.33737 10.9875 4.54121 8.7905 2.16992 8.7905L4.33737 6.59351Z"
              fill="white"></path>
            <path
              d="M17.3447 16.752V14.9029C17.3447 13.9535 18.1033 13.1846 19.0399 13.1846H21.6796V17.5785H18.1601C17.7085 17.5785 17.3447 17.2071 17.3447 16.752Z"
              fill="white"></path>
            <path
              d="M13.0098 9.37899V12.596C13.0098 12.921 13.2697 13.1845 13.5904 13.1845H16.7641C17.0847 13.1845 17.3447 12.921 17.3447 12.596V9.37899C17.3447 9.054 17.0847 8.79053 16.7641 8.79053H13.5904C13.2697 8.79053 13.0098 9.054 13.0098 9.37899Z"
              fill="white"></path>
            <path
              d="M17.3442 10.9875C17.3442 10.9875 17.1713 13.1845 19.5117 13.1845L17.3442 15.3815C17.3442 15.3815 17.548 13.1845 15.1768 13.1845L17.3442 10.9875Z"
              fill="white"></path>
            <path
              d="M21.6846 17.5785V13.1846H25.9678C25.9962 13.1846 26.0194 13.2081 26.0194 13.2369V17.5785H21.6846Z"
              fill="#0090FF"></path>
            <path
              d="M26.0225 9.40277V12.5727C26.0225 12.9107 26.2928 13.1847 26.6263 13.1847H29.7536C30.087 13.1847 30.3574 12.9107 30.3574 12.5727V9.40277C30.3574 9.06479 30.087 8.79077 29.7536 8.79077H26.6263C26.2928 8.79077 26.0225 9.06479 26.0225 9.40277Z"
              fill="#0090FF"></path>
            <path
              d="M26.02 10.9875C26.02 10.9875 26.1929 13.1845 23.8525 13.1845L26.02 15.3815C26.02 15.3815 25.8162 13.1845 28.1874 13.1845L26.02 10.9875Z"
              fill="#0090FF"></path>
            <path
              d="M0 4.42025V0.599081C0 0.282612 0.252867 0.0236816 0.567661 0.0236816H3.76978C4.082 0.0236816 4.33746 0.279997 4.33746 0.599081V4.42025H0.00258083H0Z"
              fill="#D83273"></path>
          </g>
          <defs>
            <clipPath id="clip0_259_1792">
              <rect width="39" height="22" fill="white"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
  </div>
</span>

<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
