---

---

<nav
  class="sticky top-0 flex w-full flex-col items-center justify-between bg-pink-550 text-white backdrop-blur-sm"
>
  <div class="flew-row flex h-12 w-full items-center justify-between">
    <span class="px-8 font-libre text-2xl">Chula Open House 2024</span>
    <span class="hidden gap-8 px-8 text-sm lg:flex">
      <a href="/">Home</a>
      <a href="/">Navigator</a>
      <a href="/event">Event</a>
      <a href="/">Faculties</a>
      <a href="">FAQS</a>
      <a href="/idcard">Profile</a>
    </span>
    <button
      id="mobileMenuButton"
      class="flex h-full flex-col items-center justify-center gap-1 self-stretch rounded-tl-md bg-pink-550 px-4 lg:hidden"
    >
      <div class="h-0.5 w-5 bg-white"></div>
      <div class="h-0.5 w-5 bg-white"></div>
      <div class="h-0.5 w-5 bg-white"></div>
    </button>
  </div>
  <div
    id="mobileMenu"
    class="flew-row hidden h-full w-full items-center justify-between bg-indigo-900 px-3 py-3 lg:hidden"
  >
    <a href="/">Home</a>
    <a href="/">Navigator</a>
    <a href="/event">Event</a>
    <a href="/">Faculties</a>
    <a href="">FAQS</a>
    <a href="/idcard">Profile</a>
  </div>
</nav>
<script>
  const MOBILE_SIZE = 1024;
  window.addEventListener("resize", () => {
    var mobileMenu = document.getElementById("mobileMenu");
    if (mobileMenu && window.innerWidth >= MOBILE_SIZE) {
      mobileMenu.style.display = "none";
    }
  });
  window.addEventListener("load", () => {
    var mobileMenu = document.getElementById("mobileMenu");
    if (mobileMenu && window.innerWidth >= MOBILE_SIZE) {
      mobileMenu.style.display = "none";
    }
  });
  var mobileMenuButton = document.getElementById("mobileMenuButton");
  mobileMenuButton &&
    mobileMenuButton.addEventListener("click", () => {
      var mobileMenu = document.getElementById("mobileMenu");
      console.log(mobileMenu);
      if (mobileMenu && mobileMenuButton && window.innerWidth < MOBILE_SIZE) {
        if (
          mobileMenu.style.display === "" ||
          mobileMenu.style.display === "none"
        ) {
          mobileMenu.style.display = "flex";
          mobileMenuButton.style.backgroundColor = "rgb(57 53 112)";
        } else {
          mobileMenu.style.display = "none";
          mobileMenuButton.style.backgroundColor = "rgb(202 64 114)";
        }
      }
    });
</script>
