---

---

<!-- not responsive yet -->
<nav
  class="sticky top-0 flex w-full flex-row items-center justify-between bg-pink-550 px-24 py-2 text-white backdrop-blur-sm"
>
  <span class="font-libre text-lg">Chula Open House</span>
  <span class="flex gap-8 text-sm">
    <a href="/">Home</a>
    <a href="/">Navigator</a>
    <a href="/event">Event</a>
    <a href="/">Facuties</a>
    <a href="/idcard">ID Card</a>
  </span>
</nav>
