---
const { name, value } = Astro.props;
---

<radioBox>
  <div class="relative mr-2 flex h-5 w-5">
    <input
      type="radio"
      name={name}
      value={value}
      class="absolute z-30 inline-block h-5 w-5 appearance-none rounded-full"
    />
    <div class="absolute z-10 mr-2 h-5 w-5 rounded-full bg-white"></div>
    <div
      class="inner-circle absolute left-1/2 top-1/2 z-20 m-0 hidden h-2 w-2 -translate-x-1/2 -translate-y-1/2 transform rounded-full bg-pink-500"
    >
    </div>
  </div>
</radioBox>
<script>
  const radioBox = document.querySelectorAll("input[type=radio]");
  radioBox.forEach((r) => {
    r.addEventListener("change", function () {
      const radioWithSameName = document.querySelectorAll(
        "input[type=radio][name=" + r.name + "]"
      );
      radioWithSameName.forEach((radio) => {
        // console.log('clicked')
        var innerCircle = radio.parentElement.querySelector(".inner-circle");
        // if(innerCircle) console.log("found")
        if (radio.checked) {
          innerCircle.classList.remove("hidden");
          // console.log("appear")
        } else {
          innerCircle.classList.add("hidden");
        }
      });
    });
  });
</script>
