---
//Wait for sponsor
---

<div>
  <p class="text-end">Sponsored by</p>
  <div class="grid grid-cols-3 gap-3 text-black">
    <span class="h-16 w-16 rounded-full bg-white">
      <img src="" alt="sponsor 1" /></span
    >
    <span class="h-16 w-16 rounded-full bg-white"
      ><img src="" alt="sponsor 2" /></span
    >
    <span class="h-16 w-16 rounded-full bg-white"
      ><img src="" alt="sponsor 3" /></span
    >
    <span class="h-16 w-16 rounded-full bg-white"
      ><img src="" alt="sponsor 4" /></span
    >
    <span class="h-16 w-16 rounded-full bg-white"
      ><img src="" alt="sponsor 5" /></span
    >
    <span class="h-16 w-16 rounded-full bg-white"
      ><img src="" alt="sponsor 6" /></span
    >
  </div>
</div>
