---
import "@fontsource/ibm-plex-sans-thai/400.css";
import "@fontsource/ibm-plex-sans-thai/500.css";
import "@fontsource/ibm-plex-sans-thai/600.css";
import "@fontsource/ibm-plex-sans-thai/700.css";

import NavBar from "@/components/Nav.tsx";
import Footer from "@/components/Footer.astro";
import Background from "@/components/Background";

interface Props {
  pageTitle?: string;
  withNav?: boolean;
  withFooter?: boolean;
  withJigsaw?: boolean;
}

const {
  pageTitle = "Openhouse Chula",
  withNav = true,
  withFooter = true,
  withJigsaw = true,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <section
      class="relative flex h-full min-h-screen w-full flex-col items-center"
    >
      {withNav && <NavBar client:only="react" />}
      <main class="flex w-full flex-col items-center">
        <slot />
      </main>
      {withFooter && <Footer />}
      <Background withJigsaw={withJigsaw} />
    </section>
  </body>
</html>
