---
import "@fontsource/ibm-plex-sans-thai/400.css";
import "@fontsource/ibm-plex-sans-thai/500.css";
import "@fontsource/ibm-plex-sans-thai/600.css";
import "@fontsource/ibm-plex-sans-thai/700.css";

import Nav from "@/components/Nav";
import Footer from "@/components/Footer.astro";
import Background from "@/components/Background";
import { ViewTransitions } from "astro:transitions";

interface Props {
  pageTitle?: string;
  withNav?: boolean;
  withFooter?: boolean;
  withJigsaw?: boolean;
}

const {
  pageTitle = "Openhouse Chula",
  withNav = true,
  withFooter = true,
  withJigsaw = true,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <section
      class="relative flex h-full min-h-svh w-full flex-col items-center"
    >
      {withNav && <Nav client:only="react" />}
      <main
        class="flex min-h-[calc(100vh-580px)] w-full flex-col items-center pb-16 pt-8 md:min-h-[calc(100vh-356px)]"
      >
        <slot />
      </main>
      {withFooter && <Footer transition:persist />}
      <Background withJigsaw={withJigsaw} transition:persist />
    </section>
  </body>
</html>
